In [11]:
import sys
import pandas as pd



def load_data(messages_filepath, categories_filepath):
    pass


def clean_data(df):
    pass


def save_data(df, database_filename):
    pass

In [9]:
messages_filepath, categories_filepath, database_filepath = "disaster_messages.csv", "disaster_categories.csv", "DisasterResponse.db"

print('Loading data...\n    MESSAGES: {}\n    CATEGORIES: {}'
      .format(messages_filepath, categories_filepath))
df = load_data(messages_filepath, categories_filepath)

print('Cleaning data...')
df = clean_data(df)

print('Saving data...\n    DATABASE: {}'.format(database_filepath))
save_data(df, database_filepath)

print('Cleaned data saved to database!')

Loading data...
    MESSAGES: disaster_messages.csv
    CATEGORIES: disaster_categories.csv
Cleaning data...
Saving data...
    DATABASE: DisasterResponse.db
Cleaned data saved to database!

In [14]:
df_messages = pd.read_csv("disaster_messages.csv")
df_categories = pd.read_csv("disaster_categories.csv")

In [15]:
df_categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...